.QuizCreator {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.QuizCreator > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.QuizCreator h1 {
  text-align: center;
}

.QuizCreator form {
  background: #eee;
  border-radius: 20px;
  padding: 15px;
}
